
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="test" routerLink = 'home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="test" routerLink = 'products'>Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="test" routerLink = 'user'>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLineActive="test" routerLink = 'posts'>Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLineActive="test" routerLink = 'parent'>Parent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLineActive="test" routerLink = 'register'>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLineActive="test" routerLink = 'login'>login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLineActive="test" routerLink = 'notes'>NotesForm</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div>
<!-- <h1>{{"Wellcome "+name}}</h1> -->
</div>

<div class="conatiner-fluid p-5">
  <div class="row">
    <div class="col-md-6" style="height: 500px;">
      <img src="./assets/Prahim.jpg" style="width: 100%;height: 100%;"  class="rounded float-start" alt="...">
    </div>
    <div  class="col-md-6 from-control">

      <label for="mangerName"  class="from-control"> MangerName </label>
      <br>
      <input type="text" [value]="name" id="mangerName" class="from-control">
    </div>
  </div>
  </div>

