<p>posts works!</p>

<!-- <div class="container py-5">
  <h3>Posts from API</h3>
  <div class="my-4"></div>
  <div class="row">
    <div *ngFor="let post of postsList" class="col-md-3">
      <h2>{{post.id}}</h2>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>

    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12">
          <h1>Posts from API</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let post of postsList" (click)="onSelected(post)">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{post.title}}</p>
              <p class="card-text">{{post.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
